<!DOCTYPE html>
<html>
    <head>
        <title>Adagio - Uusi ilmoitus</title>
    </head>
    <body>
        {% if "user_id" not in session %}
            <a href="/login">Kirjaudu sisään</a>
        {% else %}
            <a href="/home">Takaisin</a>
        {% endif %}
        <h1>Uusi ilmoitus</h1>
        {% if "user_id" in session %}
        <form method="post">
            <label for="title">Otsikko:</label>
            <input type="text" id="title" name="title" required>
            <label for="content">Ilmoitus:</label>
            <textarea id="content" name="content" required></textarea>
            <button type="submit">Lisää ilmoitus</button>
            <a href="/home">Peruuta</a>
        </form>
        {% endif %}
    </body>
</html>