<!DOCTYPE html>
<html>
    <head>
        <title>Adagio - Rekisteröityminen</title>
    </head>
    <body>
        <h1>Rekisteröityminen</h1>
        <p>Rekisteröidy jatkaaksesi.</p>
        <form action="/register" method="post">
            <label for="username">Käyttäjätunnus:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Salasana:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Rekisteröidy</button>
        </form>
    </body>
</html>